@import "colors.scss";

.app {
  text-align: center;
  background-color: $baseBackground;
  min-height: 100vh;

  .app-header {
    min-height: 10vh;
    background-color: $headerBackground;
    font-size: calc(10px + 2vmin);
    color: $white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .profile {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .photo-container {
      padding: 20px;

      .profile-photo {
        width: 240px;
        height: 230px;
        border-radius: 115px;
      }
    }

    .profile-summary {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;

      .salutation {
        color: $textGreen;

        h1 {
          margin: 0;
          font-size: clamp(10px, 8vw, 20px);
          font-weight: 300;
        }
      }

      .name {
        color: $textHeaderH2;

        h2 {
          font-size: clamp(40px, 8vw, 80px);
          font-weight: 600;
          margin: 0;
        }
      }

      .tag-line {
        color: $textHeaderH3;

        h3 {
          margin: 0;
          font-size: clamp(40px, 8vw, 80px);
        }
      }

      .description {
        color: $text;
        font-size: clamp(10px, 8vw, 20px);
        line-height: 30px;
        margin-top: 20px;
        text-align: left;

        p {
          margin: 0;
        }

        a {
          text-decoration: none;
          color: $textGreen;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .content-container {
    // background-color: #282c34;
    // min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: $white;

    .skill-container {
      .logo-container {
        width: 150px;
        height: 150px;
        margin: 15px;

        .skill-logo {
          height: 150px;
          width: 150px;
          pointer-events: none;
        }
      }

      &:hover {
        .skill-name {
          color: $textGreen;
          font-size: calc(20px + 2vmin);
        }
      }
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .skill-container:hover {
    .logo-container {
      animation: logo-spin infinite 20s linear;
    }

    .skill-name {
      transition: color 2s, font-size 2s;
    }
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
